.admin {
    min-height: 100vh;
    text-align: center;
    padding: 70px 20px;
    color: #c6e2ff;
    font-family: "Chakra Petch", sans-serif;
}

.admin h1 {
    margin: 0;
    letter-spacing: 30px;
}

@media (max-width: 550px) {
    .admin h1 {
        font-size: 100px;
        font-weight: 550;
        letter-spacing: 10px;
    }
}
