.delete-all {
	margin-top: 70px;
}
.delete-all .dev-images {
	width: 100%;
	max-width: 100px;
	/* // border: "solid 1.5px #64ffda", */
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	padding: 3px;
	/* background-color: #64ffda; */
	box-shadow: 0px 2px 20px #a0dcff;
}
.delete-all .dev-text-box {
	color: aliceblue;
	text-align: left;
}
.delete-all .profile-btn {
	background: #132743;
	color: aliceblue;
	width: 30%;
	height: 29px;
	padding: 2px;
	border: 0.6px solid #eeeeee;
	text-align: center;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	margin: 20px 5px;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}
.delete-all .profile-btn:hover {
	background: #132743;
	color: aliceblue;
	border: 1px solid #fbbc04;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.delete-all .profile-btn:active {
	color: #fbbc04;
}
@media (max-width: 992px) {
	.delete-all .dev-text-box {
		color: aliceblue;
		text-align: center;
	}
}
